@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.fonte{
    font-family: 'Nunito';
}

.cardf{
    margin-left: 130px;
}
 
.imgsobre{
    width: 350px;
    height: 350px;
}

.sobreTit{
    letter-spacing: .2rem;
      font-size: 20pt;
      color: #fafafa;
      font-weight: bolder;
}

.sobre{
    letter-spacing: .2rem;
    font-size: 15pt;
    color: black;
    font-family: 'Nunito';
    font-weight: bolder;
}

/* .txt{
    font-family: Roboto,sans-serif;
    color: black;
}

.txt1{
    font-family: 'Roboto', sans-serif, Medium 500;  
} */

.btn1{
    background-image: linear-gradient(to right, #FF6D67 0%, #fcb69f 51%, #ffecd2 100%);
    padding: 5px;
}

.imgN{
    height: 21rem;
}


ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
}
    
ul.social-network li {
  display: inline;
   margin: 0;
    padding: 5px;
}


