<div class="w-100">
    <footer class="colorfooter w-100 mb-0">
        <div class="row">
            <div class="container-fluid d-flex justify-content-center mb-0">
                <nav class="navbar navbar-expand-lg fonte">
                    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link fonte text-uppercase  p-3"
                                    routerLink='/home'>Home
                                    <span class="sr-only">(página atual)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fonte text-uppercase p-3"
                                    routerLink='/sobre'>Sobre nós</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fonte text-uppercase p-3"
                                    routerLink='/contato'>Contato</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fonte text-uppercase p-3"
                                    routerLink='/login'>Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <p class="fonte text-center p-3"> © 2020 Copyright: Clippy</p>
    </footer>

</div>
