<div class="container w-100 mb-5">
  <div class="row mt-5">
    <div class="col-md-12 mt-2">
      <img class="w-100 img-fluid" src="https://imgur.com/DQSDNe8.png" alt="clip">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-5 mt-5">
      <h2 class="letra text-center text-uppercase font-weight-bold"> Como fazer parte do Clippy? </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 w-100">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://imgur.com/hYjOmWa.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title letra font-weight-bold text-center">Primeiro passo: Cadastro</h5>
            <p class="card-text text-justify-content letra text-center">Primeiro você inicia se cadastrando no Clippy <a routerLink="/cadastro">clicando aqui.</a> Caso já cadastrado efetue seu <a routerLink="/login">login.</a> </p>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://imgur.com/CUC7JxB.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title letra font-weight-bold text-center">Segundo passo: Verificação</h5>
            <p class="card-text letra text-center">Para manter o objetivo do Clippy, todos os novos conteúdos publicados são verificados, para confirmarmos se a nova postagem aborda a temática sócio ambiental, mantendo assim o Clippy uma rede fluida de informação.</p>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://imgur.com/HsHqhzE.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title letra font-weight-bold text-center">Terceiro passo: Postagem</h5>
            <p class="card-text letra text-center">Agora com o seu post verificado ficará postado no seu feed para que você e os demais usuários possam visualizar.</p>
            <p class="card-text"></p>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>