<!--INICIO DA PAGINA DESCRIÇÃO-->
<div class="container d-flex justify-content-start p-3 ">
    <div class="container w-50">

        <div class="card-body">

            <div class="row mt-4">
            </div>
            <hr class="text-center p-1">
            <h1
                class="card-title text-center d-flex justify-content-center text-secondary sobreTit fonte text-uppercase shadow p-3 mb-3 ">
                Sobre o clippy </h1>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center  p-3 txt ">
    <div class="col-md-6">
        <div class="row ">


            <section class="text-justify">A rede CLIPPY nasceu baseada nos objetivos de desenvolvimento sustentável da
                Organização das Nações Unidas(ONU). Fundamentada no quarto Objetivo temos o propósito de assegurar uma
                educação inclusiva e equativa de qualidade, promovendo oportunidades de aprendizado para todos.
                Acreditamos que a educação pode ser viável de forma universal, sem discriminação de gênero, raça, crença
                e etinia.
            </section>
        </div>
    </div>
    <div class="col-md-6 ml-4">
        <div class="row mt-6">
            <section class="text-justify">Temos o intuito impulsionar e incentivar a busca por conhecimentos e
                habilidades necessárias para promover o desenvolvimento sustentável e social. Você poderá interagir e
                publicar informações de fontes seguras que são autenticadas e verificadas internamente, indicando
                referências, dificultando assim a propagação de Fake News.
            </section>
        </div>
    </div>
</div>


<!--DECRIÇÃO DOS PARTICIPANTES-->
<div class="container d-flex justify-content-start  p-3 ">
    <div class="container w-50">

        <div class="card-body">

            <div class="row mt-4">
            </div>
            <hr class="text-center  p-1">
            <h1
                class="card-title d-flex justify-content-center text-secondary fonte sobreTit text-uppercase shadow p-3 mb-3  ">
                Integrantes do clippy </h1>
        </div>
    </div>
    <!--/DECRIÇÃO DOS PARTICIPANTES-->
</div>
<!--Cards-->
<div class="container">


    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card-deck">

                <div class="card shadow p-3 mb-5 bg-white rounded border-0">

                    <!--imagem da Ana-->
                    <div class="view overlay">
                        <img class="card-img-top imgN" src="https://i.imgur.com/6B97XuJ.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title text-center fonte btn1 font-weight-bold">Ana Tavares</h4>
                        <hr class="text-center w-50 p-1">
                        <!--Text-->
                        <div>
                            <p class="card-text text-justify txt">Profissional da área de Compras, graduada em
                                Administração. Em transição de carreira para área de Tecnologia. <br> A Generation Brasil abriu as portas da programação, estou aprendendo e aplicando os conhecimentos, descobrindo a imensidão de oportunidades que a Tecnologia tem para oferecer!

                            </p>
                        </div>

                        <!--ICONES  DE REDES SOOCIAIS -->
                        <hr class="text-center w-50 p-1">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <ul class="social-network">
                                    <li><a href="https://github.com/AnaClaudiaOT" class="icoGithub " title="Github"
                                            target="_blank">
                                            <img class="icones" src="https://i.imgur.com/AiORURE.png"
                                                alt="icone Git"></a></li>

                                    <li><a href="https://www.linkedin.com/in/ana-claudia-otavares/" class="icoLinkedin "
                                            title="Linkedin" target="_blank">
                                            <img class="icones" src="https://i.imgur.com/WgoIkDQ.png"
                                                alt="icone Linkedin">
                                        </a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>



                <div class="card shadow p-3 mb-5 bg-white rounded border-0">

                    <!--Imagem da Angela-->
                    <div class="view overlay">
                        <img class="card-img-top imgN" src="https://i.imgur.com/4NjIcBF.jpg?1" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title text-center fonte font-weight-bold btn1">Angela Deodato</h4>
                        <hr class="text-center w-50 p-1">
                        <!--Text-->
                        <div>
                            <p class="card-text text-justify txt">Uma apaixonada por tecnologia como um todo. Front-end
                                de coração que se aventura a estudar, aprender e a entender todas as camadas do
                                desenvolvimento web. Busco conhecimento e empresas que oferecem oportunidades de
                                aprendizado, chance de aprimoramento e crescimento pessoal e profissional, na área de
                                Tecnologia da Informação.
                            </p>
                        </div>

                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <hr class="text-center w-50 p-1">


                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social-network">
                                <li><a href="https://github.com/AngelaDeodato" class="icoGithub" title="Github"
                                        target="_blank">
                                        <img src="https://i.imgur.com/AiORURE.png" alt="icone Git">
                                    </a></li>
                                <li><a href="https://www.linkedin.com/in/angela-deodato/" class="icoLinkedin "
                                        title="Linkedin" target="_blank">
                                        <img src="https://i.imgur.com/WgoIkDQ.png" alt="icone Linkedin">
                                    </a></li>
                            </ul>
                        </div>

                    </div>


                </div>



                <div class="card shadow p-3 mb-5 bg-white rounded border-0">

                    <!--Imagem do Danilo-->
                    <div class="view overlay">
                        <img class="card-img-top imgN" src="https://i.imgur.com/0grcNoP.jpg?1" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title text-center fonte font-weight-bold btn1">Danilo Oliveira</h4>
                        <hr class="text-center w-50 p-1">
                        <!--Text-->
                        <div>
                            <p class="card-text text-justify txt">Desenvolvedor Java apaixonado por tecnologia e a
                                Generation Brasil me despertou essa vocação. Minhas diretrizes de viver englobam ser uma
                                pessoa resiliente, com boas relações humanas e apaixonado pelo saber! Me auto-desafiei a
                                estudar um pouco mais sobre a tecnologia do mundo atual e me surpreendi quando descobri
                                ter vocação para a área de Desenvolvimento Web Full Stack.
                            </p>
                        </div>

                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <hr class="text-center w-50 p-1">

                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social-network">
                                <li><a href="https://github.com/danillovictor" class="icoGithub" title="Github"
                                        target="_blank">
                                        <img src="https://i.imgur.com/AiORURE.png" alt="icone Git">
                                    </a></li>
                                <li><a href="https://www.linkedin.com/in/danilovgoliveira/" class="icoLinkedin "
                                        title="Linkedin" target="_blank">
                                        <img src="https://i.imgur.com/WgoIkDQ.png" alt="icone Linkedin">
                                    </a></li>
                            </ul>
                        </div>

                    </div>

                </div>



            </div>

        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="card-deck mb-5">

                <div class="card shadow p-3 mb-5 bg-white rounded border-0">

                    <!--Imagem da Natália-->
                    <div class="view overlay">
                        <img class="card-img-top imgN" src="https://i.imgur.com/OqN37KV.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body ">

                        <!--Title-->
                        <h4 class="card-title text-center fonte font-weight-bold btn1">Natália Lima</h4>
                        <hr class="text-center w-50 p-1">
                        <!--Text-->
                        <div>
                            <p class="card-text text-justify txt">Nascida em Recife, logo ao me formar, sempre me
                                envolvi na área de gestão e administração. Até que em 2018 tive uma oportunidade de
                                trabalhar como tester e suporte numa empresa de tecnologia, onde despertei meus
                                primeiros interesses na área. Apaixonada pelas infinitas possibilidades que o mundo do
                                desenvolvimento nos oferece.<br> Em 2020 comecei a estudar desenvolvimento full-stack.
                            </p>
                        </div>

                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <hr class="text-center w-50 p-1">

                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <ul class="social-network">
                                    <li><a href="https://github.com/Natalialimas" class="icoGithub" title="Github"
                                            target="_blank">
                                            <img src="https://i.imgur.com/AiORURE.png" alt="icone Git">
                                        </a></li>
                                    <li><a href="https://www.linkedin.com/in/natalialimasilva/" target="_blank"
                                            class="icoLinkedin " title="Linkedin">
                                            <img src="https://i.imgur.com/WgoIkDQ.png" alt="icone Linkedin">
                                        </a></li>
                                </ul>
                            </div>
                        </div>


                    </div>

                </div>




                <div class="card shadow p-3 mb-5 bg-white rounded border-0">

                    <!--Imagem do pedro-->
                    <div class="view overlay">
                        <img class="card-img-top imgN" src="https://i.imgur.com/Qawi8nn.jpg?2" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body ">

                        <!--Title-->
                        <h4 class="card-title text-center fonte font-weight-bold btn1">Pedro Barcellos</h4>
                        <hr class="text-center w-50 p-1">
                        <!--Text-->
                        <div>
                            <p class="card-text text-justify txt">Sempre fui apaixonado por tecnologia e com o passar do
                                tempo fui descobrindo as infinitas possibilidades que eu posso ter com a programação e
                                todo seu ecossistema.<br>Sou uma pessoa dedicada no que faço e gosto de explorar o que a
                                tecnologia pode me oferecer independente da linguagem.<br> Dessa forma venho buscando
                                aprender cada vez mais através de muita pratica, estudos e participação de meetups.</p>
                        </div>

                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                        <hr class="text-center w-50">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <ul class="social-network d-flex justify-content-center">
                                    <li><a href="https://github.com/barcellos-pedro" class="icoGithub" title="Github"
                                            target="_blank">
                                            <img class="icones" src="https://i.imgur.com/AiORURE.png" alt="icone Git">
                                        </a></li>
                                    <li><a href="https://www.linkedin.com/in/pedro-barcellos/" class="icoLinkedin "
                                            title="Linkedin" target="_blank">
                                            <img class="icones" src="https://i.imgur.com/WgoIkDQ.png"
                                                alt="icone Linkedin">
                                        </a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>




            </div>

        </div>
    </div>

</div>