<div class="container">

    <div class="row d-flex justify-content-center mt-5">
        <!-- Form -->
        <div class="col-md-7 mt-3">
            <h1>Entre em contato conosco</h1>
            <p class="texto-apoio">Algum problema ou sugestão? Escreva aqui e responderemos em breve!</p>
            <form class="w-100">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control form-border" id="inputEmail" aria-describedby="emailHelp" name="inputEmail">
                    <small id="emailHelp" class="form-text text-muted">Nós nunca iremos compartilhar seu e-mail com
                        algúem.</small>
                </div>
                <div class="form-group">
                    <label for="inputTextArea">Mensagem</label>
                    <textarea class="form-control form-border" name="inputTextArea" id="inputTextArea" rows="7"></textarea>
                </div>

                <div class="row mb-5">
                    <div class="col-md-12 d-flex justify-content-end p-0">
                        <button type="submit" class="btn btn-chernobyl success mr-3" (click)='enviar()'>Enviar</button>
                    </div>
                </div>
               
            </form>
        </div>
        
        <div class="col-md-5">
            <img src="../../assets/img/contato-imagem.png" class="img-fluid" alt="Imagem ilustrando a equipe">
        </div>

</div>
<div class="espacamento p-5 mb-5">

</div>